#menuItem {
  width: 172px;
  height: auto;
  border-radius: 8px;
}
.menu-item-cover {
  height: 90px;
  width: 170px;
  background-color: var(--primary-bg);
  box-shadow: var(--collection-shadow);
  border-radius: 8px;
}

.menu-item-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.menu-item-title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  /* text-overflow: ellipsis;
  overflow: hidden; */
  margin-top: 6px;
}
