#kasir p {
    color: #FFFFFF;
}

#kasir #productItem p {
    color: #000000;
}

#kasir #productItem p {
    color: #000000;
}

#kasir .orderSection h2 {
    color: #FFFFFF;
}

#kasir hr {
    background-color: #FFFFFF;
}

.titlePage {
    color: #2c3248;
    font-weight: 700 !important;
}