.card-bengkel {
  width: 22rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.form-control {
  background-color: lightgrey;
  height: 60px;
  border: 0px solid;
  border-radius: 20px;
}

.card-text {
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  .card-bengkel {
    width: 18rem;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .card-bengkel {
    width: 15rem;
    margin: auto;
  }
}
