.modalBarang {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modalDialog {
  margin: 50px auto;
}

.modalContent {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.imgBtn {
  width: 20px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 576px) {
  .modalDialog {
    width: 250px;
  }
  .imgItem {
    align-items: center;
    width: 250px;
  }

  .modalTitle {
    font-size: 20px;
  }
}
