.card-sparepart {
  width: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.form-control {
  background-color: lightgrey;
  height: 60px;
  border: 0px solid;
  border-radius: 20px;
}

.title {
  white-space: nowrap; /* Memastikan teks tidak break ke baris baru */
  overflow: hidden; /* Memotong teks yang keluar dari batas */
  text-overflow: ellipsis; /* Menambahkan ellipsis sebagai tanda bahwa teks masih ada namun dipotong */
  max-width: 200px; /* Batas maksimum lebar untuk card title */
}

@media screen and (min-width: 768px) {
  .card-sparepart {
    width: 22rem;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .card-sparepart {
    width: 18rem;
    margin: auto;
  }
}
