/*--------------------------------------------------------------
4. wpo-footer
--------------------------------------------------------------*/

.wpo-site-footer {
  background: #ffb402;
  position: relative;
  font-size: 15px;
  overflow: hidden;

  ul {
    list-style: none;
  }

  p,
  h1 {
    color: #312814;
  }
  li {
    color: #312814;
  }

  .container {
    position: relative;
  }

  .wpo-upper-footer {
    padding: 90px 0;
  }

  @media (max-width: 991px) {
    .wpo-upper-footer {
      padding: 60px 0 0;
    }
  }

  @media (max-width: 767px) {
    .wpo-upper-footer {
      padding: 60px 0 0;
    }
  }

  @media (max-width: 991px) {
    .wpo-upper-footer .col {
      min-height: 235px;
      margin-bottom: 70px;
    }
  }

  @media (max-width: 767px) {
    .wpo-upper-footer .col {
      min-height: auto;
      margin-bottom: 60px;
    }
  }

  .widget-title {
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    .widget-title {
      margin-bottom: 20px;
    }
  }

  .widget-title {
    h3 {
      font-size: 20px;
      color: #312814;
      margin: 0;
      text-transform: uppercase;
      position: relative;
      font-family: $heading-font-sub;

      @media (max-width: 991px) {
        font-size: 20px;
        font-size: 1.25rem;
      }
    }
  }

  .about-widget {
    .logo {
      max-width: 180px;
    }
  }

  .about-widget {
    p {
      margin-bottom: 0.8em;
      line-height: 1.9em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      overflow: hidden;
      padding-top: 10px;

      li {
        font-size: 22px;
        float: left;

        a {
          color: #312814;
          width: 36px;
          height: 36px;
          line-height: 40px;
          background: rgba($color: $white, $alpha: 0.5);
          display: block;
          text-align: center;
          @include rounded-border(50%);
          font-size: 18px;

          &:hover {
            color: $dark-gray;
            background: $white;
          }
        }
        .tiktok {
          padding-bottom: 0.5rem;
        }
      }

      li + li {
        margin-left: 25px;
      }
    }
  }
  .wpo-service-link-widget {
    @media screen and (min-width: 1200px) {
      padding-left: 70px;
    }
  }

  .link-widget {
    overflow: hidden;

    @media screen and (min-width: 1200px) {
      padding-left: 75px;

      &.s1 {
        padding-left: 95px;
      }
    }

    @media (max-width: 1199px) {
      padding-left: 20px;
    }

    @media (max-width: 991px) {
      padding-left: 0;
    }

    @media (max-width: 767px) {
      max-width: 350px;
    }

    ul {
      li {
        position: relative;
        a {
          color: #312814;
          font-size: 17px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .service-item {
        padding-top: 0px;
      }
      li + li {
        padding-top: 15px;
      }
    }
  }

  .contact-ft {
    margin-top: 20px;

    ul {
      li {
        padding-bottom: 15px;
        position: relative;
        padding-left: 35px;

        font-size: 17px;

        i {
          position: absolute;
          left: 0;
          top: 0;
        }

        .fi:before {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }

  .wpo-lower-footer {
    text-align: center;
    position: relative;
    background: #dd9b00;

    .row {
      padding: 20px 0;
      position: relative;
    }

    .copyright {
      display: inline-block;
      font-size: 15px;
      font-size: 0.9375rem;
      margin: 0;

      a {
        color: $white;
        text-decoration: none;
      }

      @media (max-width: 991px) {
        float: none;
        display: block;
      }
    }
  }
}
