.titleList * {
    color: black;
    font-weight: 700 !important;
    word-break: break-word;
}

.titleList-light {
    color: white;
    font-weight: 700 !important;
    word-break: break-word;
}

#addProductForm, #updateProductForm {
    width: 100%
}

#listProductManagement {
    word-break: break-word;
}

#listProductManagement button {
    word-break: keep-all;
}

#listProductManagement p {
    color: black;
}

.Field input {
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    left: 0;
}

.Field input[type=file]::-webkit-file-upload-button {
    width: 150px;
    height: 35px;
    cursor: pointer;
    /* opacity: 0; */
}

.uploadButton {
    width: 30%;
}

@media only screen and (max-width: 576px) {
    .uploadButton {
        width: auto;
    }
}